


body {
	color: rgb(0, 0, 0);
}

.podcast-list-item {
	position: relative;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	color: #272727;
	align-items: center;
	justify-content: space-between;
	width: 158px;
	/* height: 170px; */
	margin: 85px 7px 7px;
	box-shadow: 1px 1px 2px #abaaaa;
	text-align: center;
	padding: 0 10px 10px;
	background-color: white;
}

.podcast-list-item__image {
    margin-top: -50px;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    overflow: hidden;
    background-color: black;
}

.podcast-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: self-start;
}

.podcast-list-item__name {
    text-transform: uppercase;
    line-height: 13px;
    font-size: 0.8em;
    max-height: 50px;
    overflow: hidden;
    font-weight: 600;
    margin: 10px 0;
}

.podcast-list-item__author {
    font-size: 0.7em;
    line-height: 1.2em;
}

.podcast-list-item:hover {
    background-color: #eeffd6;
    text-decoration: none;
}

img.podcast-card__image {
    width: 170px;
    height: 170px;
    background-color: #acd0b7;
}

.podcast-feed__item {
    /* display: none; */
}

.podcast-feed__item title {
    width: 300px;
    height: 50px;
}

.podcast-feed-item {
    display: flex;
    justify-content: space-between;
    color: inherit;
    padding: 5px;
    height: 35px;
}

.podcast-feed__item__date {
    margin-left: auto;
    margin-right: 5px;
}

.podcast-feed__item__duration {
    min-width: 60px;
    text-align: right;
}

.podcast-feed-item:hover {
    background-color: aliceblue;
    text-decoration: none;
}

.podcast-feed__item__title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.podcast-list-item__image>img {
    width: 100%;
}

.col-sm-4.podcast__podcast-card {
    color: black;
}

a.podcast-card:hover {
    color: black;
    text-decoration: none;
}

a.podcast-card {
    color: black;
}