


@media screen and (min-width: 991px) {
    .podcast__podcast-card {
        max-width: 280px !important;
    }
}

body {
	color: rgb(0, 0, 0);
}

.podcast-list-item {
	position: relative;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	color: #272727;
	align-items: center;
	justify-content: space-between;
	width: 155px;
	/* height: 170px; */
	margin: 85px 7px 7px;
	box-shadow: 1px 1px 2px #abaaaa;
	text-align: center;
	padding: 0 10px 10px;
	background-color: white;
}

.podcast-list-item__image {
    margin-top: -50px;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    overflow: hidden;
    background-color: black;
}

.podcast-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.podcast-list-item__name {
    text-transform: uppercase;
    line-height: 13px;
    font-size: 0.8em;
    max-height: 55px;
    overflow: hidden;
    font-weight: 600;
    margin: 10px 0;
}

.podcast-list-item__author {
    font-size: 0.7em;
    line-height: 1.2em;
}

.podcast-list-item:hover {
    background-color: #eeffd6;
    text-decoration: none;
}

img.podcast-card__image {
    width: 100%;
    background-color: #acd0b7;
    max-width: 200px;
    border-radius: 10px;
}

.podcast-feed__item title {
    width: 300px;
    height: 50px;
}

.podcast-feed-item {
    display: flex;
    justify-content: space-between;
    /* color: inherit; */
    padding: 5px;
    font-size: 0.9em;
    height: 35px;
}

.podcast-feed__item__date {
    margin-left: auto;
    margin-right: 5px;
    min-width: 80px;
    color: black;
}

.podcast-feed__item__duration {
    min-width: 60px;
    text-align: right;
    color: black;
}

.podcast-feed-item:hover {
    background-color: #e8f4ff !important;
    text-decoration: none;
}

.podcast-feed__item__title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.podcast-list-item__image>img {
    width: 100%;
}

a.podcast-card:hover {
    color: black;
    text-decoration: none;
}

a.podcast-card {
    color: #212529;
    display: flex;
    flex-direction: column;
    align-items: center;
}

audio.podcast-player__audio {
    width: 100%;
    margin-top: 30px;
}

.podcast__podcast-player {
    padding: 20px;
    box-shadow: 1px 1px 2px #c7c7c7;
    font-size: 0.9em;
}

.podcast-card {
    padding: 20px;
    box-shadow: 1px 1px 2px #b3b3b3;
    /* max-width: 280px !important; */
}

.podcast-feed {
    /* padding: 20px; */
    /* box-shadow: 1px 1px 2px #b3b3b3; */
}

.row.livepodcast__podcast {
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 30px;
}

.podcast-player__description {
    overflow: hidden;
}

.podcast-player__description>* {
    max-width: 100%;
}

audio {
    /* background-color: black; */
    color: whitesmoke;
}

.podcast-card__info {
    margin-top: 30px;
    max-width: 100%;
}

.podcast-card__name {
    font-weight: bold;
}


.podcast-card__artist {
    font-style: italic;
}

.podcast-card__description {
    margin-top: 30px;
    font-size: 0.9em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.podcast__podcast-feed {
    /* padding-right: 0px !important; */
    float: left;
}


.livepodcast__header {
    /* height: 59px; */
    border-bottom: solid 1px #dee1e4;
    margin: 20px;
}

.livepodcast__header>a:hover {
    text-decoration: none !important;
}

.livepodcast__app {
    position: relative;
}



/* SPINNER */
.header__loading {
    width: 25px;
    height: 25px;
    position: absolute;
    right: 0;
    top: 3px;
    background-color: #c1dcf9;
    border-radius: 50%;
    opacity: 0;
    transition: 0.4s opacity;
}
  
.livepodcast__header[loading="true"] .header__loading {
    -webkit-animation: sk-bounce 1.0s infinite ease-in-out;
    animation: sk-bounce 1.0s infinite ease-in-out;
	opacity: 1;
}
  
  
@-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
    0%, 100% { 
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 50% { 
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}

.home__podcast-filter {
    width: 40%;
    min-width: 250px;
    max-width: 500px;
    margin-left: auto;
}

.podcast-filter {
    display: flex;
    align-items: center;
}

.podcast-filter__input {
    margin-left: 10px;
}

.podcast-feed__header {
    box-shadow: 1px 1px 2px #c7c7c7;
    padding: 10px 20px;
    margin-bottom: 20px
}

.podcast-feed__list {
    box-shadow: 1px 1px 2px #c7c7c7;
    padding: 10px 20px;
}

.podcast-feed__list__header {
    display: flex;
    justify-content: space-between;
    color: inherit;
    /* padding: 5px; */
    /* height: 35px; */
    border-bottom: solid 1px #dee1e4;
    font-weight: bold;
    font-size: 0.9em;
}

a.podcast-feed-item:nth-child(2n) {
    background-color: #f8fcff;
}